/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Quattrocento:wght@400;700&display=swap');

/* Asterisk wildcard selector, this will override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Styles */
    color:darkslategray;
    font-family: 'Palanquin', sans-serif;
}

/* Header */
header {
    background-color: #2f5638;
    padding: 0 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Quattrocento', serif;
    text-transform: uppercase;
    color: #ffffff;
}

#menu {
    letter-spacing: 1px;
    font-size: 115%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 5px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #2f5638;
    color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 10px;
    display: none;
}

/* Main content */
main {
    background-color: blueviolet;
    /* Main element will take up surplus space and push futter down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color:aquamarine;
}